* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #BDB76B; /* Nova cor de fundo do corpo */
}

header {
    background: #333;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

#home {
    background: url('background.jpg') no-repeat center center/cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: 20px; /* Para compensar o header fixo */
}

.intro {
    text-align: center;
    margin-top: 80px; /* Espaçamento entre o cabeçalho e a seção home */
}

.intro h2 {
    font-size: 3rem;
    margin-bottom: 10px; /* Reduzindo a margem inferior do título */
}

.intro p {
    font-size: 1.5rem;
    margin-bottom: 20px; /* Reduzindo a margem inferior do parágrafo */
}

section {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
    width: 100%;
    height: 200px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Corta a imagem para preencher o espaço sem distorção */
    border-radius: 10px 10px 0 0;
}

.portfolio-item h3 {
    margin: 10px;
    font-size: 1.2rem;
    color: #333;
}

.portfolio-item hr {
    border: none;
    border-top: 1px solid #ccc; /* Estilo da linha */
    margin: 10px 0; /* Espaçamento acima e abaixo da linha */
}

.portfolio-item p {
    margin: 10px;
    font-size: 0.9rem;
    color: #666;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Placeholder styling */
form input::placeholder,
form textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #999;
}

form button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Oswald', sans-serif; /* Aplicando a fonte Oswald no rodapé */
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.social-links a:hover {
    transform: translateY(-10px); /* Levanta os ícones ao passar o mouse */
}

.skills {
    margin-top: 40px;
}

.column {
    width: 50%; /* Ou outro valor adequado */
    float: left; /* Para alinhar as colunas horizontalmente */
}

.column h4 {
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
}

.column ul li {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .nav-links li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .portfolio-items {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item {
        width: 90%;
        margin: 10px 0;
    }
}

/* Estilo dos links do menu */
.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Efeito de transição suave ao passar o mouse sobre os ícones de mídia social */
.social-links a {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-10px);
}
